body {
  font-family: 'Open Sans', sans-serif; }

.subtitulo {
  font-weight: bold;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.card-body {
  height: 170px; }

.card-title {
  font-weight: 600;
  margin: .5rem; }

.card-text {
  font-weight: 400;
  margin: .5rem;
  padding-bottom: 1rem; }

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer; }

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }

.fondo-nosotros {
  background-color: #add9fd73; }

header {
  border-bottom: 1px solid black; }

h1 {
  text-align: center;
  font-weight: bold; }

h1, a.navbar-brand {
  color: #add9fd !important; }

.fa-1x {
  font-size: 1.5rem; }

button.navbar-toggler.toggler-example {
  cursor: pointer; }

.navbar-toggler-icon {
  background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger7.svg?color=BFE100"); }

@media (min-width: 576px) {
  .navbar-brand {
    text-align: center;
    font-weight: bold;
    font-size: 40px; }
  ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: .5em; }
  ul li {
    list-style-type: none; }
  ul li a {
    text-decoration: none;
    color: black; } }

@media (min-width: 992px) {
  header {
    height: 120px; }
  h1, a.navbar-brand {
    width: 100%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 55px; }
  button.navbar-toggler {
    display: none; }
  div#navbarSupportedContent1 {
    display: block; }
  ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: .5em; }
  ul li {
    list-style-type: none; }
  ul li a {
    text-decoration: none;
    color: black; }
  li a:hover {
    transition: 1ms;
    font-weight: bold;
    text-decoration: none; } }

.textoNosotros {
  text-align: center;
  font-weight: 600; }

.fondo-nosotros {
  background-color: #add9fd73; }

@media (min-width: 768px) {
  .textoNosotros {
    margin: auto;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px; } }

.fotoMica {
  height: 500px; }

.imagenMica {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start; }

.textoMica {
  font-weight: 600; }

@media (min-width: 768px) {
  .imagenMica {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .textoMica {
    margin: auto;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .imagenMica {
    margin: 50px !important; } }

.textoAgos {
  font-weight: 600; }

@media (min-width: 768px) {
  .textoAgos {
    margin: auto;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px; } }

.container {
  margin-left: 0; }

.row {
  flex-wrap: nowrap; }

.info {
  font-weight: 600;
  font-size: 25px;
  margin: .5rem; }

.contenido {
  font-weight: 400;
  margin: .5rem;
  font-size: 20px; }

.datos-show {
  margin: auto; }

.icon {
  width: 40px;
  height: 40px;
  margin-right: 5px; }

.icon-instagram {
  width: 35px;
  height: 35px;
  margin-right: 5px; }

.formulario {
  margin: auto;
  padding: 10px;
  background-color: #8fcbfcd4;
  width: 30%;
  border: solid black 1px; }

.infoForm {
  width: 100px;
  transition: all 1s; }

#nombre:focus {
  width: 200px; }

#email:focus {
  width: 200px; }

.footer {
  background: #add9fd; }

.textoNewsletter {
  font-weight: 600; }

@media (min-width: 992px) {
  .input-group {
    width: 75%;
    margin-left: 190px; } }

ul.footer-lista {
  display: flex;
  flex-direction: column;
  margin-bottom: 0; }

ul li.footer-links {
  list-style-type: none;
  font-weight: 600;
  margin: 0.5em;
  border-bottom: 1px solid black;
  padding-bottom: 10px; }

ul li.footer-links a {
  color: black; }

.imagen-oca {
  height: 30px;
  margin-left: 5px;
  margin-bottom: 15px; }

.btn-mujeres {
  width: 50%; }

@media (min-width: 992px) {
  .btn-mujeres {
    width: 25%; } }

.btn-outline-info {
  color: #add9fd;
  border-color: #add9fd; }

.btn-outline-info:focus {
  box-shadow: #add9fd; }

.show > .btn-outline-info.dropdown-toggle {
  background-color: #add9fd;
  border-color: #add9fd; }

.btn-outline-info:hover {
  background-color: #add9fd;
  border-color: #add9fd; }

.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: none; }

.btn-oultine-info.active:active {
  background-color: #add9fd;
  border-color: #add9fd;
  box-shadow: none; }

.titulo-tabla {
  border-top: 1px solid black;
  padding-top: 10px;
  font-weight: 700;
  font-size: 22px; }

.table {
  margin: auto;
  width: 50%;
  margin-bottom: 20px; }

th {
  color: #add9fd; }

.talles {
  color: black; }
