body {
  font-family: 'Open Sans', sans-serif; }

.subtitulo {
  font-weight: bold;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }

.card-body {
  height: 170px; }

.card-title {
  font-weight: 600;
  margin: .5rem; }

.card-text {
  font-weight: 400;
  margin: .5rem;
  padding-bottom: 1rem; }

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer; }

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); }

.fondo-nosotros {
  background-color: #add9fd73; }

.shopping-cart {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

header {
  border-bottom: 1px solid black; }

h1 {
  text-align: center;
  font-weight: bold; }

h1, a.navbar-brand {
  color: #add9fd !important;
  text-align: center; }

.fa-1x {
  font-size: 1.5rem; }

button.navbar-toggler.toggler-example {
  cursor: pointer; }

.navbar-toggler-icon {
  background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger7.svg?color=BFE100"); }

@media (min-width: 576px) {
  .navbar-brand {
    text-align: center;
    font-weight: bold;
    font-size: 40px; }
  ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: .5em; }
  ul li {
    list-style-type: none; }
  ul li a {
    text-decoration: none;
    color: black; } }

@media (min-width: 992px) {
  header {
    height: 120px; }
  h1, a.navbar-brand {
    width: 100%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 55px; }
  button.navbar-toggler {
    display: none; }
  div#navbarSupportedContent1 {
    display: block; }
  ul.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: .5em; }
  ul li {
    list-style-type: none; }
  ul li a {
    text-decoration: none;
    color: black; }
  li a:hover {
    transition: 1ms;
    font-weight: bold;
    text-decoration: none; } }

.texto-nosotros {
  text-align: center;
  font-weight: 600; }

.fondo-nosotros {
  background-color: #add9fd73; }

@media (min-width: 768px) {
  .texto-nosotros {
    margin: auto;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px; } }

.foto-mica {
  height: 500px; }

.imagen-mica {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start; }

.texto-mica {
  font-weight: 600; }

@media (min-width: 768px) {
  .imagen-mica {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: .5rem !important; }
  .texto-mica {
    margin: auto;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 992px) {
  .imagen-mica {
    margin: 50px !important; } }

.texto-agos {
  font-weight: 600;
  margin-top: 1rem;
  margin-left: 1rem; }

.imagen-agos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start; }

@media (min-width: 768px) {
  .imagen-agos {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; }
  .texto-agos {
    margin: auto;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 35px; } }

@media (min-width: 992px) {
  .imagen-agos {
    padding: 50px !important; } }

.container {
  margin-left: 0; }

.row {
  flex-wrap: nowrap; }

.fondo-contacto {
  background-color: #add9fd73; }

.info {
  font-weight: 600;
  font-size: 25px;
  margin: .5rem; }

.contenido {
  font-weight: 400;
  margin: .5rem;
  font-size: 20px; }

a.contenido {
  text-decoration: none;
  color: black;
  cursor: pointer; }

.borde {
  border-bottom: 1px solid black;
  width: 100%; }

.icon {
  width: 60px;
  height: 35px;
  margin-right: 10px; }

.icon-instagram {
  width: 35px;
  height: 35px;
  margin-right: 5px; }

.icon-email {
  width: 35px;
  height: 35px; }

.icon-whatsapp {
  width: 35px;
  height: 35px; }

.icon-mapa {
  width: 60px;
  height: 35px;
  margin-top: 20px; }

.icono-metodo-pago {
  margin-top: 10px; }

form {
  background-color: #add9fd;
  border: solid black 1px;
  padding: 1.5rem; }

.info-form-sexo {
  width: 50%; }

.info-form-nombre, .info-form-email {
  width: 90%;
  transition: 1s; }

.info-form-nombre:hover {
  width: 110%; }

.info-form-email:hover {
  width: 110%; }

.col-form-label {
  font-weight: 600; }

.newsletter {
  font-weight: 600; }

@media (min-width: 758px) {
  .borde {
    border-bottom: none; }
  .icon-mapa {
    margin-left: 15px; }
  .icon-metodo-pago {
    margin-top: 20px; }
  form {
    width: 80%;
    padding: 2rem; }
  .col-form-label {
    margin-left: 1.5rem; }
  .info-form-nombre, .info-form-email {
    width: 120%;
    margin-left: 1.5rem; }
  .info-form-nombre:hover {
    width: 150%; }
  .info-form-email:hover {
    width: 150%; }
  .info-form-sexo {
    margin-left: 1.5rem; }
  .newsletter {
    margin-left: 1.5rem; }
  .form-check-input {
    margin-left: 1.5rem; } }

@media (min-width: 992px) {
  .icon-mapa {
    width: 30px;
    height: 30px;
    margin-top: 10px; }
  form {
    width: 70%;
    padding: 2rem; }
  .info-form-nombre, .info-form-email {
    width: 200%;
    margin-left: 3rem; }
  .info-form-nombre:hover {
    width: 250%; }
  .info-form-email:hover {
    width: 250%; }
  .info-form-sexo {
    width: 25%;
    margin-left: 3rem; }
  .form-check-input {
    margin-left: 3rem; } }

.footer {
  background: #add9fd;
  padding-top: 10px; }

.texto-newsletter {
  font-weight: 600; }

@media (min-width: 992px) {
  .input-group {
    width: 75%;
    margin-left: 190px; } }

ul.footer-lista {
  display: flex;
  flex-direction: column;
  margin-bottom: 0; }

ul li.footer-links {
  list-style-type: none;
  font-weight: 600;
  margin: 0.5em;
  border-bottom: 1px solid black;
  padding-bottom: 10px; }

ul li.footer-links a {
  color: black; }

.imagen-oca {
  height: 30px;
  margin-left: 5px;
  margin-bottom: 15px; }

.btn-mujeres {
  width: 50%; }

@media (min-width: 992px) {
  .btn-mujeres {
    width: 25%; } }

.btn-outline-info {
  color: #add9fd;
  border-color: #add9fd; }

.btn-outline-info:focus {
  box-shadow: #add9fd; }

.show > .btn-outline-info.dropdown-toggle {
  background-color: #add9fd;
  border-color: #add9fd; }

.btn-outline-info:hover {
  background-color: #add9fd;
  border-color: #add9fd; }

.btn-outline-info:not(:disabled):not(.disabled):active:focus {
  border-color: #add9fd; }

.btn-outline-info:not(:disabled):not(.disabled):active {
  background-color: #add9fd;
  border-color: #add9fd;
  box-shadow: none; }

.titulo-tabla {
  border-top: 1px solid black;
  padding-top: 10px;
  font-weight: 700;
  font-size: 22px; }

.table {
  margin: auto;
  width: 50%;
  margin-bottom: 20px; }

th {
  color: #add9fd; }

.talles {
  color: black; }
