.container{
	margin-left: 0;
}
.row{
	flex-wrap: nowrap;
}
.info{
	font-weight: 600;
	font-size: 25px;
	margin: .5rem;
}
.contenido{
	font-weight: 400;
	margin: .5rem;
	font-size: 20px;
}
.datos-show{
	margin: auto;
}
.icon{
	width: 40px;
	height: 40px;
	margin-right: 5px;
}
.icon-instagram{
	width: 35px;
	height: 35px;
	margin-right: 5px;
}
.formulario{
	margin: auto;
	padding: 10px;
	background-color: #8fcbfcd4;
	width: 30%;
	border: solid black 1px;
}
.infoForm{
	width: 100px;
	transition: all 1s;
}
#nombre:focus {
	width: 200px;
}
#email:focus{
	width: 200px;
}