.footer{
	background: $boton-marca;
	padding-top: 10px;
}
.texto-newsletter{
	font-weight: 600;
}
@media(min-width: 992px){
	.input-group{
		width: 75%;
		margin-left: 190px;
	}
}
ul.footer-lista{
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
}
ul li.footer-links{
	list-style-type: none;
	font-weight: 600;
	margin: 0.5em;
	border-bottom: $borde-abajo;
	padding-bottom: 10px;

		a{
			color: black;
		}
}
.imagen-oca{
	height: 30px;
	margin-left: 5px;
	margin-bottom: 15px;
}
