#grilla{
	height: 100%;
	width: 100vh;
	display: grid;
	grid-template-areas: 
	"produno proddos prodtres"
	"prodcuatro prodcinco prodseis"
	"titulo titulo ."
	"tabla tabla .";
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 100px 100px 100px 120px;
	margin-left: 20px;
	align-items: center;
	justify-items: center;
}
.productoUno{
	grid-area: produno;
}
.productoDos{
	grid-area: proddos;
}
.productoTres{
	grid-area: prodtres;
}
.productoCuatro{
	grid-area: prodcuatro;
}
.productoCinco{
	grid-area: prodcinco;
}
.productoSeis{
	grid-area: prodseis;
}
.tablaTalles{
	grid-area: titulo;
	justify-items: start;
	margin-left: 10px;
}
.tabla{
	grid-area: tabla;
	border: solid black 2px;
	margin: 10px;
	padding: 10px;
}
th{
	color: #03a9f4;
}