header{
	border-bottom: 1px solid black;
}
h1{
  text-align: center;
  font-weight: bold;
}
h1, a.navbar-brand{
	color: #add9fd !important;
	text-align: center;
}
.fa-1x {
	font-size: 1.5rem;
}
button.navbar-toggler.toggler-example {
	cursor: pointer;
}
.navbar-toggler-icon{
	background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger7.svg?color=BFE100');
}
@media(min-width: 576px){
	.navbar-brand{
		text-align: center;
		font-weight: bold;
		font-size: 40px;
	}
	ul.navbar-nav{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: .5em;
	}
	ul li{
		list-style-type: none;
	}
	ul li a{
		text-decoration: none;
		color: black;
	}
}
@media(min-width: 992px){
	header{
		height: 120px;
	}
	h1, a.navbar-brand{
		width: 100%;
		display: flex;
		margin: auto;
		text-align: center;
		justify-content: center;
		font-weight: bold;
		font-size: 55px;
	}	
	button.navbar-toggler{
		display: none;
	}
	div#navbarSupportedContent1{
		display: block;
	}
	ul.navbar-nav{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: .5em;
	}
	ul li{
		list-style-type: none;
	}
	ul li a{
		text-decoration: none;
		color: black;
	}
	li a:hover {
	  transition: 1ms;
	  font-weight: bold;
	  text-decoration: none;
	}
}