body{
	font-family:'Open Sans', sans-serif;
	background-color: white;
}
@mixin subtitulo{
	font-weight: bold;
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.subtitulo{
	@include subtitulo;
}
.card-body{
	height: 170px;
}
.card-title{
	font-weight: 600;
	margin: .5rem;
}
.card-text{
	font-weight: 400;
	margin: .5rem;
	padding-bottom: 1rem;
}
.card{
	box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
	transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
	cursor: pointer;
}
.card:hover{
     transform: scale(1.05);
  	 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
