.btn-mujeres{
	width: 50%;
}
@media(min-width: 992px){
	.btn-mujeres{
		width: 25%
	}
}
.btn-outline-info{
	color: $boton-marca;
	border-color: $boton-marca;
}
.btn-outline-info:focus{
	box-shadow: $boton-marca;
}
.show>.btn-outline-info.dropdown-toggle{
	background-color: $boton-marca;
	border-color: $boton-marca;
}
.btn-outline-info:hover{
	background-color: $boton-marca;
	border-color: $boton-marca; 
}
.btn-outline-info:not(:disabled):not(.disabled):active:focus{
	border-color: $boton-marca;
}
.btn-outline-info:not(:disabled):not(.disabled):active{
	background-color: $boton-marca;
	border-color: $boton-marca;
	box-shadow: none;
}
.titulo-tabla{
	border-top: $borde-abajo;
	padding-top: 10px;
	font-weight: 700;
	font-size: 22px;
}
.table{
	margin: auto;
	width: 50%;
	margin-bottom: 20px;
}
th{
	color: $boton-marca;
}
.talles{
	color: black;
}