.texto-nosotros{
	text-align: center;
	font-weight: 600;
}
.fondo-nosotros{
	background-color: $fondo-paginas;
}
@media(min-width: 768px){
	.texto-nosotros{
		margin: auto;
		font-weight: 600;
		padding-left: 20px;
		padding-right: 20px;
	}
}
.foto-mica{
	height: 500px;
}
.imagen-mica{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}
.texto-mica{
	font-weight: 600;
}
@media(min-width: 768px){
	.imagen-mica{
		display: flex;
    	flex-direction: row;
    	flex-wrap: nowrap;
    	align-content: center;
    	justify-content: center;
    	align-items: center;
    	padding: .5rem !important;
	}
	.texto-mica{
		margin: auto;
		font-weight: 600;
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media(min-width: 992px){
	.imagen-mica{
		margin: 50px !important;
	}
}
.texto-agos{
	font-weight: 600;
	margin-top: 1rem;
	margin-left: 1rem;
}
.imagen-agos{
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

@media(min-width: 768px){
	.imagen-agos{
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		align-content: center;
    	justify-content: center;
    	align-items: center;
	}
	.texto-agos{
		margin: auto;
		font-weight: 600;
		padding-left: 20px;
		padding-right: 35px;
	}
}
@media(min-width: 992px){
	.imagen-agos{
		padding: 50px !important;
	}
}